.row
	table
		thead
			tr(style="font-size:35px;")
				th Number
				th MAP
				th PICK | BAN
				th Team
				th Status
		tbody(style="font-size:20px;")
			tr
				th Map 1
				td
					.switch
						.input-field.col.s12
							select.map_pick_20
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_20
								option(value='', ) NONE
								option(value='BAN', selected) BAN
								option(value='PICK') PICK
							label Peak status MAP
				td
					.switch
							select#team_20.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="map1")
							span.lever
							span(style="font-size:20px;")
								| On
						
			tr
				th Map 2
				td
					.switch
						.input-field.col.s12
							select.map_pick_21
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_21
								option(value='', ) NONE
								option(value='BAN', selected) BAN
								option(value='PICK') PICK
							label Peak status MAP
				td
					.switch
							select#team_21.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="Map2")
							span.lever
							span(style="font-size:20px;")
								| On
			tr
				th Map 3
				td
					.switch
						.input-field.col.s12
							select.map_pick_22
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_22
								option(value='', ) NONE
								option(value='BAN', ) BAN
								option(value='PICK', selected) PICK
							label Peak status MAP
				td
					.switch
							select#team_22.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="Map3")
							span.lever
							span(style="font-size:20px;")
								| On
			tr
				th Map 4
				td
					.switch
						.input-field.col.s12
							select.map_pick_23
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_23
								option(value='', selected) NONE
								option(value='BAN', selected) BAN
								option(value='PICK') PICK
							label Peak status MAP
				td
					.switch
							select#team_23.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="Map4")
							span.lever
							span(style="font-size:20px;")
								| On
			tr
				th Map 5
				td
					.switch
						.input-field.col.s12
							select.map_pick_24
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_24
								option(value='', selected) NONE
								option(value='BAN', selected) BAN
								option(value='PICK') PICK
							label Peak status MAP
				td
					.switch
							select#team_24.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="Map5")
							span.lever
							span(style="font-size:20px;")
								| On
			tr
				th Map 6
				td
					.switch
						.input-field.col.s12
							select.map_pick_25
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_25
								option(value='', selected) NONE
								option(value='BAN', selected) BAN
								option(value='PICK') PICK
							label Peak status MAP
				td
					.switch
							select#team_25.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="Map6")
							span.lever
							span(style="font-size:20px;")
								| On
			tr
				th MAP 7
				td
					.switch
						.input-field.col.s12
							select.map_pick_26
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_26
								option(value='', selected) NONE
								option(value='BAN', selected) BAN
								option(value='PICK') PICK
							label Peak status MAP
				td
					.switch
							select#team_26.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="Map7")
							span.lever
							span(style="font-size:20px;")
								| On
			tr
				th DECIDER
				td
					.switch
						.input-field.col.s12
							select.map_pick_27
								option(value='', selected) NONE
								option(value='DECIDER') DECIDER
								option(value='ANUBIS') ANUBIS
								option(value='INFERNO') INFERNO
								option(value='MIRAGE') MIRAGE
								option(value='OVERPASS') OVERPASS
								option(value='NUKE') NUKE
								option(value='ANCIENT') ANCIENT
								option(value='VERTIGO') VERTIGO
							label Map pick team
				td
					.switch
						.input-field.col.s12
							select.playing_27
								option(value='', selected) NONE
								option(value='DECIDER', selected) DECIDER
							label Peak status MAP
				td
					.switch
							select#team_27.icons
								option(value=null) NONE
								option(value='auto', selected) Try to match team automatically
							label Set team 1
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="Map8")
							span.lever
							span(style="font-size:20px;")
								| On
	.input-field.col.s12
				.row
					#actionbuttons
					a.waves-effect.waves-light.btn#set2 Set
						i.material-icons done
				
a(href='https://www.twitch.tv/fyflo') Subscribe to my channel on Twitch: fyflo